<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Look at what you've accomplished so far!</h1>
    <span>Filter accomplishments by category:</span>
    <form action="" method="GET">
        <label for="category-dropdown"></label>
        <select name="category-dropdown" id="category-dropdown">
            <option value="">All</option>
            <% categoryOptions.forEach(el => {%>
                <option value="<%=el%>"><%=el%></option>
            <% }) %>
        </select>
        <button type="submit">Filter Accomplishments</button>
    </form>
    <ul>
        <% todos.forEach(todo => { %>
            <li class='todoItem' data-id='<%=todo._id%>'>
                <span class='accomplished'><%= todo.todo %></span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has done <%= done %> things.</h2>
<!-- add link to accomplishments here where we list the completed tasks -->


    <a href="/logout">Logout</a>
    <a href="/todos">Todos Page</a>

    <script src="js/main.js"></script>
</body>
</html>